@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?vc11z6') format('woff');
    
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 
.icon-plus:before {
  content: "\f067";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
 */